* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-board {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 32vw;
    outline: 2px solid grey;
    background-color: transparent;
    transform: rotate(0deg);
    transition: transform .5s linear .4s;
}

.game-board_active {
    transform: rotate(180deg);
}

.game-board__cell {
    width: 4vw;
    height: 4vw;
    background-color: wheat;
}

.game-board__cell_1::before,
.game-board__cell_2::before,
.game-board__cell_3::before,
.game-board__cell_4::before,
.game-board__cell_5::before,
.game-board__cell_6::before,
.game-board__cell_7::before,
.game-board__cell_8::before {
    position: absolute;
    content: '1';
    top: -1.5em;
    left: 1em;
}


.game-board__cell_2::before {}


.black {
    background-color: black;
}

.game-board__cell_active {
    border-bottom: 2px solid red;
    border-right: 2px solid red;
}

.figure {
    position: absolute;
    width: 2vw;
    height: 2vw;
    text-align: center;
    background-color: #fff;
    transform: rotateX(0deg);
    transition: transform .5s linear .4s, left .3s linear, top .3s linear;
}
.figure:hover {
    cursor: pointer;
}

.figure_selected {
    border-top: 1px solid red;
    border-left: 1px solid red;
}

.game-board_active .figure {
    transform: rotate(180deg);
}

.btn {
    margin-left: 120px;
}

/* Timer */

.timer {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    gap: 10px;
}

.timer__player,
.timer__foe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vw;
    height: 5vh;
    background-color: gray;
}

.timer__foe {
    transform: rotate(180deg);
}