* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-board {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    background-color: transparent;
    transform: rotate(0deg);
    transition: transform .5s linear .3s;
}

.game-board_active {
    transform: rotate(180deg);
}

.game-board__cell {
    width: 70px;
    height: 70px;
    background-color: wheat;
}

.black {
    background-color: black;
}

.game-board__cell_active {
    border-bottom: 2px solid red;
    border-right: 2px solid red;
}

.figure {
    position: absolute;
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: #fff;
    transform: rotateX(0deg);
    transition: transform .5s linear .3s;
}
.figure:hover {
    cursor: pointer;
}

.figure_selected {
    border-top: 1px solid red;
    border-left: 1px solid red;
}

.game-board_active .figure {
    transform: rotate(180deg);
}

.btn {
    margin-left: 120px;
}